body{
    font: normal 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #181818;
    overflow: auto;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#cbc {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 7em;
}

div img#banner{
    height: auto;
    width: 100%;
    z-index: -1;
    box-shadow: 0px 0.3em 0.6em #3d3d3d;
}

div img#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    position: relative;
    top: 8.25em;
}

div a#l_logo{
    width: 15.6em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div img#rpg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: auto;
    width: 65%;
    bottom: 3.4em;
}

div img#videos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: auto;
    width: 32%;
    top: 4.3em;
}

#geral2{
    position: relative;
    top: 10.6em;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.i{
    width: 70%;
    height: auto;
    box-shadow: 0em 0em 1.25em black;
    position: relative;
}

.i:hover{
    top: -1%;
    box-shadow: 0 0.125em 0.125em black;
}

div.o p{
    text-align: center;
    left: 15%;
    width: 70%;
    color: white;
    position: relative;
    bottom: 3%;
}

.o{
    width: 33%;
    height: 15.625em;
}

#rodape{
    margin: auto;
    bottom: 0%;
}

#rodape footer{
    background-color: #424242;
    width: 100%;
    height: 100px;    
    /*text-align: center;*/
    /*line-height: 100px;*/
    /*margin-top: 100px;*/
    margin: auto;
    bottom: 0;
}

#rodape #sk{
    text-align: center;
}

#rodape img{
    position: relative;
    top: 6.25em;
}

#rodape div#sk img{
    height: auto;
    width: 31.25em;
}

@media screen and (max-width: 600px) and (min-width: 300px) {
    
    body{
        font: normal 100%;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #181818;
        overflow: auto;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }
    
    #cbc {
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        bottom: 3.3em;
    }
    
    div img#banner{
        height: auto;
        width: 100%;
        z-index: -1;
        box-shadow: 0px 0.3em 0.6em #3d3d3d;
    }
    
    div img#logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 50%;
        position: relative;
        top: 4em;
    }
    
    div a#l_logo{
        width: 15.6em;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    div img#rpg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        height: auto;
        width: 65%;
        bottom: 1em;
    }
    
    div img#videos{
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        height: auto;
        width: 32%;
        top: 3em;
    }
    
    #geral2{
        position: relative;
        top: 6em;
    }
    
    .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .i{
        width: 70%;
        height: auto;
        box-shadow: 0em 0em 1.25em black;
        position: relative;
    }
    
    .i:hover{
        top: -1%;
        box-shadow: 0 0.125em 0.125em black;
    }
    
    div.o p{
        text-align: center;
        left: 15%;
        width: 70%;
        font-size: 60%;
        color: white;
        position: relative;
        bottom: 3%;
    }
    
    .o{
        width: 33%;
        height: 100%;
    }
    
    #rodape{
        margin: auto;
        bottom: 0%;
    }
    
    #rodape footer{
        background-color: #424242;
        width: 100%;
        height: 100px;    
        /*text-align: center;*/
        /*line-height: 100px;*/
        /*margin-top: 100px;*/
        margin: auto;
        bottom: 0;
    }
    
    #rodape #sk{
        text-align: center;
    }
    
    #rodape img{
        position: relative;
        top: 6.25em;
    }
    
    #rodape div#sk img{
        height: auto;
        width: 31.25em;
    }
}